<% if current_user.circle? || current_user.officer? %>
  <div class="wrapper" id="wrapper-form">
    <h2>イベント告知</h2>
    <div class="post-field">
      <%= form_for @event do |f| %>
        <h3>タイトル</h3>
          <%= f.text_field :event_title %>
          <h3>日付</h3>
          <%= f.text_field :event_date, :class => 'datepicker' %>
          <h3>内容</h3>
          <%= f.text_area :event_content %>
          <%= f.submit "投稿する" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="wrapper" id="wrapper-list">
  <div class="post-list">
  <% @events.each do |event|%>
    <ul>
      <% if event.user.name.present? %>
        <li><%= event.user.name %></li>
      <% else %>
        <li><%= event.user.email %></li>
      <% end %>
      <p>タイトル</p>
      <li class="title-list"><%= event.event_title %></li>
      <p>日付</p>
      <li class="date-list"><%= event.event_date %></li>
      <p>内容</p>
      <li class="content-list"><%= event.event_content %></li>
      <% if event.user == current_user %>
        <p><%= link_to '削除', event_path(event.id), method: 'delete'%></p>
      <% end %>
    </ul>
    <% end %>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>