
<% if current_user.officer? %>
  <div class="wrapper" id="wrapper-form">
    <h2>アナウンス作成</h2>
    <div class="post-field">
      <%= form_for @announce do |f| %>
        <%= f.text_area :announce_content %>
        <%= f.submit "投稿する" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="wrapper" id="wrapper-list">
  <div class="post-list">
    <ul>
      <% @announces.each do |announce|%>
          <% if announce.user.name.present? %>
              <li><%= announce.user.name %></li>
          <% else %>
              <li><%= announce.user.email %></li>
          <% end %>
          <li><%= announce.announce_content %></li>
      <% end %>
    </ul>
  </div>

</div>
