<div class="wrapper" id="wrapper-form">
  <%= form_for @post do |f| %>
    <%= f.text_area :post_content %>
    <%= f.submit "Add a New Post" %>
  <% end %>
</div>

<div class="wrapper" id="wrapper-list">
  <div class="post-list">
    <ul>
      <% @posts.each do |post|%>
        <% if post.user.name.present? %>
          <li><%= post.user.name %></li>
        <% else %>
          <li><%= post.user.email %></li>
        <% end %>
        <li><%= post.post_content %></li>
      <% end %>
    </ul>
  </div>
</div>

