/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */

@import "reset.css.scss";

body{
    margin:0;
    background-color: #2E2F30;
}

ul{
    padding:0;
    margin:0;
}

li{
    margin :0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
}

.main-content{
    padding-top:100px;
}

.main-content div{
    margin:0 10px;
    background-color:rgb(240,255,220);
    padding:10px 5px;
    border-radius: 15px;
}

a{
    text-underline:none;
}



header{
    position:fixed;
    width:100%;
    height:70px;
    background-color:rgb(30,150,125);
}

header nav div{
    display:inline-block;
}

.header-right{
    float:right
}

.header-left{
    floar:left
}

.header-right li{
    display:inline;
}

.wrapper{
    margin-top:0px;
    display:inline-table;
    position:relative;
}

#wrapper-form{
    margin-left:100px;
    width:350px;
}

#wrapper-list{
    width:700px;
}

.header-right-content{
    display:block;
    text-align:center
}

.post-field{
    display:block;
}