// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-list ul{
  background-color:white;
  border-radius:10px;
  margin-bottom:30px;
  li.title-list,.date-list{
    border-bottom: dotted;
  }
}