
<div class="community-form">
  <div class="sidebar-left-content">
    <% if user_signed_in? %>
        <h2>コミュニティ</h2>
        <ul class="ibaraki-unv">
          <li><a href="https://i-student.ibaraki.ac.jp/">Live Campus</a></li>
          <li><a href="https://renandi.ipc.ibaraki.ac.jp/renandi/index.jsp">RENANDI</a></li>
          <li><a href="http://www.ipc.ibaraki.ac.jp/">IT基盤センター</a></li>
          <li><a href="https://adfs.vc.ibaraki.ac.jp/adfs/ls/?wa=wsignin1.0&wtrealm=urn:federation:MicrosoftOnline&wctx=wreply%3Dhttps:%252F%252Fportal.microsoftonline.com">Office365</a></li>
        </ul>
    <% end %>
  </div>
</div>