<!DOCTYPE html>
<html>
<head>
  <title>SmallCommunity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <div class="header-left">
    <ul>
      <li><%= link_to "ポスト", posts_path %></li>
      <li><%= link_to "イベント", events_path %></li>
      <li><%= link_to "アナウンス", announces_path %></li>
    </ul>
      </div>
    <div class="header-right">
    <ul>
    <% if user_signed_in? %>
        <li>Logged in as <strong><%= current_user.email %></strong></li>
        <li><%= link_to "プロフィール変更", edit_user_registration_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
        <li><%= link_to "サインイン", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    </ul>
    </div>
  </nav>
</header>
<div class="main-content">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</div>

</body>
</html>
